<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Document</title>
	</head>
	<body>
		<h1>There are {{ word_list }} words in this text.</h1>
		<p>{{ fulltext }}</p>
		{{ word_count_Dictionary }}
		<h1>Word Count:</h1>
		{% for word, counttotal in sortedwords %}
		<p>{{ word }} : {{ counttotal }}</p>
		{% endfor %} <a href="/">Enter New Text</a>
	</body>
</html>
